<html>
	<head>
		<title>NewsScrape</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
	</head>
	<body>
		<h1>NewsScrape</h1>

		{% for article in articles %}
		<div>
			<h2>{{ article.title }}</h1>
			<span>{{ article.author }}</span>
			<p>{{ article.summary }}</p>

		</div>
		{% endfor %}

<!--
		<ul>

			{% for article in articles %}


			<!-- {{ article }}-->
			

				{% for key in articles[article] %}

				<!--	{{ key }} -->


				<li>	{{ articles[article]['title'] }} </li>
				<li> {{ articles[article]['author'] }} </li>
				<li> <p> {{ articles[article]['summary'] }} </p></li>



				{% endfor %}

			{% endfor %}
		</ul> -->
	</body>
</html>
