<html>
	<head>
		<title>NewsScrape</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
	</head>
	<body>

		<div class="container">
			<h1>NewsScrape</h1>


			{% for article in articles %}
			<div>
				<h3>{{ article.title }}    | <span>{{ article.author }}</span></h3>
				<p>{{ article.summary }}</p>

			</div>
		{% endfor %}
		</div>

<!--
		<ul>

			{% for article in articles %}


			 {{ article }}
			

				{% for key in articles[article] %}



				<li>	{{ articles[article]['title'] }} </li>
				<li> {{ articles[article]['author'] }} </li>
				<li> <p> {{ articles[article]['summary'] }} </p></li>



				{% endfor %}

			{% endfor %}
		</ul>  -->
	</body>
</html>
